<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>

<plugin>
       <extension point="org.eclipse.imp.runtime.languageDescription">
          <language extensions="cs" description="CSharp" language="CSharp" derivedFrom="DynamicRoot" validator="csharp.CSharpValidator" validatorClass="csharp.CSharpValidator"></language>
       </extension>
       <extension id="csharp.parser" name="CSharp Parser" point="org.eclipse.imp.runtime.parser">
          <parser class="csharp.CSharpParseController" language="CSharp">
          </parser>
       </extension>    
    </plugin>